[Unit]
Description=Run WeCom in Wine Flatpak
Requires=wecom-flatpak-poc-bootstrap.service
After=wecom-flatpak-poc-bootstrap.service graphical-session.target
PartOf=wecom-flatpak-poc.target

[Service]
Type=simple
ExecStart=%h/.local/share/wecom-wine-flatpak/scripts/run-wecom-entrypoint.sh
TimeoutStopSec=30s
